@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

main {
    width: 100%;
    height: 95%;
    min-height: fit-content;
    display: flex;
    margin: 40px;
    border-radius: 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    width: 80%;
    padding-left: 10px;
    font-size: larger;
}

input, button {
    border: 1px solid transparent;
    background-color: white;
    height: 30px;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button > i {
    font-size: larger;
}


#weather-section {
    width: 40%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 21px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;

    
}

#weather-section > img {
    width: 200px;
    height: 200px;
    
    
}

#main-temp {
    font-size: 50px;
}

#city-container {
    background-image: url(images/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg);
    background-size:cover;
    color: white;
    border-radius: 15px;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#highlights-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F7F6F9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    min-height: fit-content; 
    overflow-y: auto;

}

#toggle {
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    padding: 20px;
}

#unit-toggle {
    display: flex;
    gap: 10px;

}

#unit-toggle > button {
    background-color: white;
    font-size: larger;
    width: 36px;
    height: 36px;
    border-radius: 28px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}


#highlights-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.highlight-item {
    display: grid;
    padding: 10px;
    border-radius: 15px;
    width: 250px;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.icon-2 {
    width: 50px;
    height: 50px;
}

#min-temp-container, #max-temp-container, #sunrise-container, #sunset-container {
    display: flex;
    align-items: center;
    font-size: larger;
}

#wind-container, #humidity-container, #visibility-container, #pressure-container {
    font-size: xx-large;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.icon {
    width: 60px;
    height: 60px;
    
}

#lenght-unit {
    font-size: x-large;
}

#sunrise-container, #sunset-container {
    display: flex;
    justify-content: space-between;
}

small {
    align-self:flex-start;
    padding-left: 10px;
    display: none;
}

@media (max-width: 700px) {

html {
    width: 100%;
    height: 100%;
}

    body {
        width: 100%;
        height: 100%;
        background-color: white;
    }

main {
    min-width: 100%;
    flex-direction: column;
    height: 100%;
    margin: 0;
    box-shadow: none;
 

}
    #weather-section {
        min-width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

   #highlights-section {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: fit-content;
    overflow: visible;
    
   } 

   #highlights-container {
        padding-left: 0px;
        padding-right: 0px;
   }


}

.selected {
    background-color: black !important;
    color:white;
}